extends ../template

block variables
    - var title = 'Яндекс Дом'

block content
    .wrapper#wrapper
        .content#content
            header.header.container
                .header__left
                    a(href="#").logo
                .header__right
                    .hamburger                
                        a(href="#").hamburger__link Меню
                            .hamburger__line    
                    nav.menu
                        ul.menu__list
                            li.menu__item.menu__item--active 
                                a(href="#").menu__link Сводка
                            li.menu__item 
                                a(href="#").menu__link Устройства
                            li.menu__item 
                                a(href="#").menu__link Сценарии

            section.camera
                .camera__controls
                    .camera__zoom 
                        h3.camera__text Zoom: x
                            span(id="camera-zoom" class="camera__info") 
                    .camera__brightness
                        h3.camera__text Brightness:
                            span(id="camera-brightness" class="camera__info") 
                    .camera__position
                        h3.camera__text Location:
                    .camera__location
                        div(id="camera-location" class="camera__range")
                            div(id="camera-pointer" class="camera__range-pointer")
                div(id="main-viewer" class="camera__viewer" touch-action="none")
                    .camera__image
                        img(id="main-image" class="camera__source" src="./assets/images/image.jpg" ondragstart="return false;")

        footer.footer
            ul.footer__list
                li.footer__item
                    a(href="#").footer__link Помощь
                li.footer__item
                    a(href="#").footer__link Обратная связь
                li.footer__item                
                    a(href="#").footer__link Разработчикам
                li.footer__item
                    a(target="_blank" rel="nofollow noopener" href="https://gygabyyyte.github.io/shri-hw-1/license.pdf").footer__link Условия использования
            .footer__copyright &copy; 2001-2018 OOO "Яндекс"                                  
